* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.app-container {
    background-color: rgba(243, 205, 205, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 20px;
}
.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 20px;
    border: 1px solid #ddd;
    width: 70%;
    max-width: 400px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: lch(47.74% 30.59 307.98);
    color: white;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
}

button:hover {
    background-color: lch(55.05% 32.12 307.47);
}
.weather-container {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.current-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.current-weather .icon {
    font-size: 6rem;
}

.current-weather .info {
    text-align: left;
}

.info h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.info p {
    font-size: 1.2rem;
}

.forecast {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.day {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 10px;
    width: 23%;
    margin-bottom: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.day p {
    font-size: 1.1rem;
}

.day .icon {
    font-size: 2rem;
}

.day .temp {
    font-size: 1.2rem;
    font-weight: bold;
}
